sudo: required

services:
  - docker

before_install:
  - docker build -t node-dev -f Dockerfile.dev .

script:
  - docker run -d node-dev npm run test -- --coverage

deploy:
 provider: elasticbeanstalk
 region: "us-east-1"
 app: "dockerlab"
 environment: "Dockerlab-env"
 bucket-name: "elasticbeanstalk-us-east-1-561764287888"
 bucket-path: "dockerlab"
 on:
  branch: main
 access_key_id: $AWS_Accesskey
 secret_access_key: 
  secure: "$AWS_Secretkey"